.planet {
    position: relative;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    background: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.moon {
    margin-left: 50px;
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
    background: darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.planet .circle {
    position: absolute;
    border: 2px solid orange;
    border-radius: 50%;
}
.moon.selected {
    background: orange;
}

.star-system {
    max-width: 1000px;
    padding: 60px 0;
    margin: auto;
}
.planet-system {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.moons {
    display: flex;
}

.orange {
    color: orange;
}